/BlockActionInfo.class
/EntityActionInfo.class
/ItemActionInfo.class
/MaterialActionInfo.class
/EnchantActionInfo.class
/CustomKillInfo.class
/MMKillInfo.class
/WxploreActionInfo.class
/ExploreActionInfo.class
