/JobsLevelUp.class
/JobsJoin.class
/JobsLeave.class
/JobsPayment.class
/JobsJoinEvent.class
/JobsLeaveEvent.class
/JobsLevelUpEvent.class
/JobsPaymentEvent.class
/JobsChunkChangeEvent.class
/JobsExpGainEvent.class
/JobsAreaSelectionEvent.class
