/fixnames.class
/aaa.class
/aaa2.class
/aaa3.class
/aaa4.class
/aaa5.class
/aaa6.class
/convert.class
/join.class
/leave.class
/leaveall.class
/info.class
/aaa7.class
/stats.class
/toggle.class
/aaa8.class
/aaa10.class
/aaa9.class
/expboost.class
/moneyboost.class
/archive.class
/playerinfo.class
/reload.class
/browse.class
/fire.class
/fireall.class
/employ.class
/promote.class
/demote.class
/grantxp.class
/removexp.class
/transfer.class
/signupdate.class
/gtop.class
/top.class
/give.class
/limit.class
/log.class
/glog.class
/glog$1.class
/pointboost.class
/points.class
/shop.class
/bonus.class
/editpoints.class
/blockinfo.class
/test.class
/purge.class
/saveall.class
/fill.class
/fillprot.class
/fillprot$1.class
/bp$1.class
/bp.class
/entitylist.class
/iteminfo.class
/area.class
/resetlimit.class
/exp.class
/exp$Action.class
