/BlackholeEconomy.class
/BufferedEconomy.class
/BufferedPayment.class
/Economy.class
/VaultEconomy.class
/PaymentData.class
/PointsData.class
/IConomy6Adapter.class
/IConomy7Adapter.class
/IConomyAdapter.class
/CraftConomy3Adapter.class
/SaneEconomyAdapter.class
